set ExecDir = /DCEG/CGF/Bioinformatics/Production/Bari/Struct_var_pipeline_dev/sv_callers;  #/home/zhub2/bin/verifyBamID_1.1.0/verifyBamID/bin;
set BinSVCalling = snowman;
set Param = run -p 4;
set Queue = xxlong.q;
set RefVCF = /DCEG/CGF/Bioinformatics/Production/BZhu/snowman/test/ref/hg19_canonical_correct_chr_order.fa;
set MaxFailure = 3; # maximum number of failures allowed for the same job.
set MaxRunning = 300; # maximum running time allowed for the same job. only running jobs are considered with "r/s/S/T/h" status. The actually waiting time = $waiting_interval * $max_running ~ 5 hrs
set WaitInterval = 20; # waiting time between check_jobs tasks.
